In [1]:
from data_algebra import RecordSpecification
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
# Example data (values changed for legibility) from:
#  https://github.com/WinVector/Examples/blob/main/calling_R_from_Python/sig_pow.ipynb
d_row_form = pd.DataFrame({
    'x': [-0.14, -0.2],
    'control': [4.96, 5.21],
    'treatment': [1.069, 1.16196],
    'control_tail': [2, 3],
    'treatment_tail': [19, 11],
    })

d_row_form

      x  control  treatment  control_tail  treatment_tail
0 -0.14     4.96    1.06900             2              19
1 -0.20     5.21    1.16196             3              11

In [3]:
rs = RecordSpecification(
    pd.DataFrame({
        'group': ['treatment', 'control'],
        'y': ['treatment', 'control'],
        'tail': ['treatment_tail', 'control_tail'],
    }),
    record_keys=['x'],
    control_table_keys=['group'],
    )

rs

RecordSpecification
   record_keys: ['x']
   control_table_keys: ['group']
   control_table:
          group          y            tail
   0  treatment  treatment  treatment_tail
   1    control    control    control_tail

In [4]:
map_from_rows = rs.map_from_rows()

map_from_rows

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th colspan="4" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>treatment</th>
      <th>control</th>
      <th>treatment_tail</th>
      <th>control_tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment value</td>
      <td>control value</td>
      <td>treatment_tail value</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th colspan="2" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>group</th>
      <th>y</th>
      <th>tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
      <td>control_tail value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
map_to_rows = rs.map_to_rows()

map_to_rows

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th colspan="2" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>group</th>
      <th>y</th>
      <th>tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th colspan="4" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>control</th>
      <th>control_tail</th>
      <th>treatment</th>
      <th>treatment_tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control value</td>
      <td>control_tail value</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
map_from_keyed_column = rs.map_from_keyed_column()

map_from_keyed_column

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th>value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>measure</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
    </tr>
    <tr>
      <th>2</th>
      <td>x record key</td>
      <td>treatment_tail</td>
      <td>treatment_tail value</td>
    </tr>
    <tr>
      <th>3</th>
      <td>x record key</td>
      <td>control_tail</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th colspan="2" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>group</th>
      <th>y</th>
      <th>tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
      <td>control_tail value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
map_to_keyed_column = rs.map_to_keyed_column()

map_to_keyed_column

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th colspan="2" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>group</th>
      <th>y</th>
      <th>tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th>value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>measure</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control_tail</td>
      <td>control_tail value</td>
    </tr>
    <tr>
      <th>2</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
    </tr>
    <tr>
      <th>3</th>
      <td>x record key</td>
      <td>treatment_tail</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
d_records = map_from_rows(d_row_form)

d_records

      x      group        y  tail
0 -0.20    control  5.21000     3
1 -0.20  treatment  1.16196    11
2 -0.14    control  4.96000     2
3 -0.14  treatment  1.06900    19

In [9]:

d_column = map_to_keyed_column(d_records)

d_column

      x         measure     value
0 -0.20         control   5.21000
1 -0.20    control_tail   3.00000
2 -0.20       treatment   1.16196
3 -0.20  treatment_tail  11.00000
4 -0.14         control   4.96000
5 -0.14    control_tail   2.00000
6 -0.14       treatment   1.06900
7 -0.14  treatment_tail  19.00000

In [10]:
d_back = map_from_keyed_column(d_column)

d_back

      x      group        y  tail
0 -0.20    control  5.21000   3.0
1 -0.20  treatment  1.16196  11.0
2 -0.14    control  4.96000   2.0
3 -0.14  treatment  1.06900  19.0

In [11]:
d_rows_back = map_to_rows(d_records)

d_rows_back

      x  control  control_tail  treatment  treatment_tail
0 -0.20     5.21             3    1.16196              11
1 -0.14     4.96             2    1.06900              19

In [12]:
rr = rs.row_record_form()

rr

RecordSpecification
   record_keys: ['x']
   control_table_keys: []
   control_table:
      treatment  control  treatment_tail  control_tail
   0  treatment  control  treatment_tail  control_tail

In [13]:
rr_map_from_keyed_column = rr.map_from_keyed_column()

rr_map_from_keyed_column

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th>value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>measure</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
    </tr>
    <tr>
      <th>2</th>
      <td>x record key</td>
      <td>treatment_tail</td>
      <td>treatment_tail value</td>
    </tr>
    <tr>
      <th>3</th>
      <td>x record key</td>
      <td>control_tail</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th colspan="4" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>control</th>
      <th>control_tail</th>
      <th>treatment</th>
      <th>treatment_tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control value</td>
      <td>control_tail value</td>
      <td>treatment value</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
rr_map_to_keyed_column = rr.map_to_keyed_column()

rr_map_to_keyed_column

RecordMap: transforming records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th colspan="4" halign="left">value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>treatment</th>
      <th>control</th>
      <th>treatment_tail</th>
      <th>control_tail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>treatment value</td>
      <td>control value</td>
      <td>treatment_tail value</td>
      <td>control_tail value</td>
    </tr>
  </tbody>
</table>
</div>
to records of the form:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th>record id</th>
      <th>record structure</th>
      <th>value</th>
    </tr>
    <tr>
      <th></th>
      <th>x</th>
      <th>measure</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>x record key</td>
      <td>control</td>
      <td>control value</td>
    </tr>
    <tr>
      <th>1</th>
      <td>x record key</td>
      <td>control_tail</td>
      <td>control_tail value</td>
    </tr>
    <tr>
      <th>2</th>
      <td>x record key</td>
      <td>treatment</td>
      <td>treatment value</td>
    </tr>
    <tr>
      <th>3</th>
      <td>x record key</td>
      <td>treatment_tail</td>
      <td>treatment_tail value</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
d_column_rr = rr_map_to_keyed_column(d_row_form)

d_column_rr

      x         measure     value
0 -0.20         control   5.21000
1 -0.20    control_tail   3.00000
2 -0.20       treatment   1.16196
3 -0.20  treatment_tail  11.00000
4 -0.14         control   4.96000
5 -0.14    control_tail   2.00000
6 -0.14       treatment   1.06900
7 -0.14  treatment_tail  19.00000

In [16]:

d_rows_back_d2 = rr_map_from_keyed_column(d_column)

d_rows_back_d2

      x  control  control_tail  treatment  treatment_tail
0 -0.20     5.21           3.0    1.16196            11.0
1 -0.14     4.96           2.0    1.06900            19.0