## A catalog of [data algebra expression](https://github.com/WinVector/data_algebra) methods.

In [1]:
import datetime
import os
import warnings
import numpy as np
import pandas as pd
import pickle
import gzip

from data_algebra.data_ops import *
import data_algebra.SQLite
import data_algebra.BigQuery
import data_algebra.PostgreSQL
import data_algebra.SparkSQL
import data_algebra.MySQL
from data_algebra.parse_by_lark import parse_by_lark
import data_algebra.test_util
import data_algebra.util


def mk_example():
    datetime_format = "%Y-%m-%d %H:%M:%S"
    date_format = "%Y-%m-%d"
    d = pd.DataFrame({
        'row_id': [0, 1, 2, 3],
        'a': [False, False, True, True],
        'b': [False, True, False, True],
        'q': [1, 1, 2, 2],
        'x': [.1, .2, .3, .4],
        'y': [2.4, 1.33, 1.2, 1.1],
        'z': [1.6, None, -2.1, numpy.nan],
        'g': ['a', 'a', 'b', 'ccc'],
        's2': ['z', 'q', '11', 'b'],
        "str_datetime_col": ["2000-01-01 12:13:21", "2020-04-05 14:03:00", "2000-01-01 12:13:21", "2020-04-05 14:03:00"],
        "str_date_col": ["2000-03-01", "2020-04-05", "2000-03-01", "2020-04-05"],
        "datetime_col_0": pd.to_datetime(
            pd.Series(["2010-01-01 12:13:21", "2030-04-05 14:03:00", "2010-01-01 12:13:21", "2030-04-05 14:03:00"]),
            format=datetime_format,
        ),
        "datetime_col_1": pd.to_datetime(
            pd.Series(["2010-01-01 12:11:21", "2030-04-06 14:03:00", "2010-01-01 12:11:21", "2030-04-06 14:03:00"]),
            format=date_format,
        ),
        "date_col_0": pd.to_datetime(
            pd.Series(["2000-01-02", "2035-04-05", "2000-01-02", "2035-04-05"]),
            format=date_format
        ).dt.date,
        "date_col_1": pd.to_datetime(
            pd.Series(["2000-01-02", "2035-05-05", "2000-01-02", "2035-05-05"]),
            format=date_format
        ).dt.date,
    })
    return d


def f(expression):
    return (
        descr(d=d)
            .extend({'new_column': expression})
            .select_columns(['row_id', 'new_column'])
            .order_rows(['row_id'])
    )


def fg(expression):
    return (
        descr(d=d)
            .extend(
                {'new_column': expression},
                partition_by=['g'])
            .select_columns(['g', 'row_id', 'new_column'])
            .order_rows(['g', 'row_id'])
    )


def fp(expression):
    return (
        descr(d=d)
            .project(
                {'new_column': expression},
                group_by=['g'])
            .order_rows(['g'])
    )


def fw(expression):
    return (
        descr(d=d)
            .extend(
                {'new_column': expression},
                partition_by=['g'],
                order_by=['row_id'])
            .select_columns(['g', 'row_id', 'new_column'])
            .order_rows(['g', 'row_id'])
    )

In [2]:
d = mk_example()

d

,row_id,a,b,q,x,y,z,g,s2,str_datetime_col,str_date_col,datetime_col_0,datetime_col_1,date_col_0,date_col_1
0,0,False,False,1,0.1,2.40,1.6,a,z,2000-01-01 12:13:21,2000-03-01,2010-01-01 12:13:21,2010-01-01 12:11:21,2000-01-02,2000-01-02
1,1,False,True,1,0.2,1.33,NaN,a,q,2020-04-05 14:03:00,2020-04-05,2030-04-05 14:03:00,2030-04-06 14:03:00,2035-04-05,2035-05-05
2,2,True,False,2,0.3,1.20,-2.1,b,11,2000-01-01 12:13:21,2000-03-01,2010-01-01 12:13:21,2010-01-01 12:11:21,2000-01-02,2000-01-02
3,3,True,True,2,0.4,1.10,NaN,ccc,b,2020-04-05 14:03:00,2020-04-05,2030-04-05 14:03:00,2030-04-06 14:03:00,2035-04-05,2035-05-05

In [3]:
data_def = {k: v for (k, v) in descr(d=d).column_map().items()}

def parse(exp):
    return parse_by_lark(exp, data_def=data_def)

In [4]:
expressions = [
    'x + y',
    'x - y',
    'row_id // q',
    'row_id % q',
    'x / y',
    'x * y',
    'x ** y',
    'x == y',
    'x > y',
    'x >= y',
    'x < y',
    'x <= y',
    'x != y',
    '-x',
    'not a',
    'a & b',
    'a and b',
    'a | b',
    'a or b',
    'z.sign()',
    'x.sin()',
    'x.cos()',
    'x.arcsin()',
    'x.arccos()',
    'x.arctan()',
    'x.arctan2(y)',
    'x.sinh()',
    'x.cosh()',
    'x.tanh()',
    'x.arcsinh()',
    'x.arccosh()',
    'x.arctanh()',
    'y.floor()',
    'z.floor()',
    'y.ceil()',
    'z.ceil()',
    'x.sum()',
    'x.exp()',
    'y.expm1()',
    'x.log()',
    'x.log10()',
    'x.log1p()',
    'y.mod(0.5)',
    'y.remainder(0.5)',
    'x.sqrt()',
    'z.abs()',
    'row_id.maximum(x)',
    'row_id.minimum(x)',
    'row_id.fmax(x)',
    'row_id.fmin(x)',
    'y.round()',
    'y.around(2)',
    'z.is_null()',
    'z.is_bad()',
    'z.count()',
    'a.if_else(x, y)',
    'row_id.is_in({1, 3})',
    'g.concat(s2)',
    'g %+% "_" %+% s2',
    'z.coalesce(2)',
    'z %?% 2',
    'z.coalesce_0()',
    'g.mapv({"a": 1, "b": 2, "z": 26}, 0)',
    'y.as_int64()',
    'y.as_str()',
    'g.trimstr(0, 2)',
    'datetime_col_0.datetime_to_date()',
    'str_date_col.parse_date()',
    'str_datetime_col.parse_datetime()',
    'datetime_col_0.format_datetime()',
    'date_col_0.format_date()',
    'date_col_0.dayofweek()',
    'date_col_0.dayofyear()',
    'date_col_0.dayofmonth()',
    'date_col_0.weekofyear()',
    'date_col_0.month()',
    'date_col_0.quarter()',
    'date_col_0.year()',
    'datetime_col_0.timestamp_diff(datetime_col_1)',
    'date_col_0.date_diff(date_col_1)',
    'date_col_1.base_Sunday()',
]

grouped_expressions = [
    'x.sum()',
    '(1).sum()',
    '_ngroup()',
    'a.all()',
    'a.any()',
    'x.max()',
    'x.mean()',
    'x.median()',
    'x.min()',
    'x.nunique()',
    'x.size()',
    '_size()',
    '_count()',
]

project_expressions = [
    'x.sum()',
    '(1).sum()',
    'a.all()',
    'a.any()',
    'x.max()',
    'x.mean()',
    'x.median()',
    'x.min()',
    'x.nunique()',
    'x.size()',
    'x.std()',
    'x.var()',
]

windowed_expressions = [
    'z.bfill()',
    'z.ffill()',
    'x.last()',
    'x.rank()',
    'x.cumprod()',
    'x.cumsum()',
    'z.cumcount()',
    'x.cummax()',
    'x.cummin()',
    'x.shift()',
    '_row_number()',
]

u_expressions = [  # not simply checkable as output varies
    '_uniform()',
]

In [5]:
e_expectations = [(parse(exp).op, 'e', exp, f(exp), f(exp).transform(d)) for exp in expressions]
g_expectations = [(parse(exp).op, 'g', exp, fg(exp), fg(exp).transform(d)) for exp in grouped_expressions]
p_expectations = [(parse(exp).op, 'p', exp, fp(exp), fp(exp).transform(d)) for exp in project_expressions]
w_expectations = [(parse(exp).op, 'w', exp, fw(exp), fw(exp).transform(d)) for exp in windowed_expressions]
u_results = [(parse(exp).op, 'u', exp, f(exp), f(exp).transform(d)) for exp in u_expressions]

In [6]:
with gzip.open('expr_expectations.pkl.gz', 'wb') as out_f:
    pickle.dump(
        {
            'd': d,
            'e_expectations': e_expectations,
            'g_expectations': g_expectations,
            'p_expectations': p_expectations,
            'w_expectations': w_expectations,
            'u_results': u_results,
        },
        out_f)

In [7]:
ops_list = e_expectations + g_expectations + p_expectations + w_expectations + u_results

op_catalog = pd.DataFrame({
    'op': [op for op, op_class, exp, ops, expect in ops_list],
    'expression': [exp for op, op_class, exp, ops, expect in ops_list],
    'op_class': [op_class for op, op_class, exp, ops, expect in ops_list],
})
op_catalog['Pandas'] = 'y'


def test_on_db(db_handle):
    # test on db
    res_vector = ['n'] * len(ops_list)
    db_handle.insert_table(d, table_name='d', allow_overwrite=True)
    for i in range(len(ops_list)):
        op = ops_list[i][0]
        op_class = ops_list[i][1]
        exp = ops_list[i][2]
        ops = ops_list[i][3]
        expect = ops_list[i][4]
        try:
            res = db_handle.read_query(ops)
            if op_class != 'u':
                if data_algebra.test_util.equivalent_frames(res, expect):
                    res_vector[i] = 'y'
                else:
                    res_vector[i] = 'w'
                    print()
                    print("difference (w)")
                    print(f'op: {op}, op_class: {op_class}, example expression: {exp}, db: {db_handle.db_model}')
                    print("Pandas result (expectation):")
                    print(expect)
                    print("DB result:")
                    print(res)
                    print("query")
                    print(db_handle.to_sql(ops))
                    print()
            else:
                res_vector[i] = 'y'
        except Exception:
            pass
    db_handle.drop_table('d')
    return res_vector


db_handles = [
    data_algebra.SQLite.example_handle(),
    data_algebra.BigQuery.example_handle(),
    data_algebra.PostgreSQL.example_handle(),
    data_algebra.SparkSQL.example_handle(),
    data_algebra.MySQL.example_handle(),
]

22/01/14 09:39:13 WARN Utils: Your hostname, JAMiMac.local resolves to a loopback address: 127.0.0.1; using 192.168.0.155 instead (on interface en1)
22/01/14 09:39:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/14 09:39:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
warnings.filterwarnings("ignore")
for db_handle in db_handles:
    db_test_res = test_on_db(db_handle)
    op_catalog[str(db_handle.db_model)] = db_test_res
    db_handle.close()

difference (w)
op: remainder, op_class: e, example expression: y.remainder(0.5), db: SQLiteModel
Pandas result (expectation):
   row_id  new_column
0       0        0.40
1       1        0.33
2       2        0.20
3       3        0.10
DB result:
   row_id new_column
0       0       None
1       1       None
2       2       None
3       3       None
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "y"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'y.remainder(0.5)'})
   "row_id" ,
   ("y" % 0.5) AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"



difference (w)
op: datetime_to_date, op_class: e, example expression: datetime_col_0.datetime_to_date(), db: SQLiteModel
Pandas result (expectation):
   row_id  new_column
0       0  2010-01-01
1       1  2030-04-05
2       2  2010-01-01
3       3  2030-04-05
DB result:
   row_id  new_column
0       0  2010-01-01
1       1  2030-04-05
2       2  2010-01-01
3       3  2030-04-05
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "datetime_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'datetime_col_0.datetime_to_date()'})
   "row_id" ,
   DATE("datetime_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"



difference (w)
op: _count, op_class: g, example expression: _count(), db: SQLiteModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   SUM(1) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"



difference (w)
op: _count, op_class: g, example expression: _count(), db: BigQueryModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: BigQueryModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `g`
  FROM
   `data-algebra-test.test_1.d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   SUM(1) OVER ( PARTITION BY `g`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



difference (w)
op: weekofyear, op_class: e, example expression: date_col_0.weekofyear(), db: PostgreSQLModel
Pandas result (expectation):
   row_id  new_column
0       0           1
1       1          13
2       2           1
3       3          13
DB result:
   row_id  new_column
0       0        52.0
1       1        14.0
2       2        52.0
3       3        14.0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: PostgreSQLModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.weekofyear()'})
   "row_id" ,
   EXTRACT(WEEK FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"



difference (w)
op: _count, op_class: g, example expression: _count(), db: PostgreSQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: PostgreSQLModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   SUM(1) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"

difference (w)
op: floor, op_class: e, example expression: z.floor(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0         1.0
1       1         NaN
2       2        -3.0
3       3         NaN
DB result:
   row_id  new_column
0       0           1
1       1           0
2       2          -3
3       3           0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.floor()'})
   `row_id` ,
   FLOOR(`z`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



difference (w)
op: ceil, op_class: e, example expression: z.ceil(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0         2.0
1       1         NaN
2       2        -2.0
3       3         NaN
DB result:
   row_id  new_column
0       0           2
1       1           0
2       2          -2
3       3           0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.ceil()'})
   `row_id` ,
   CEILING(`z`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`

22/01/14 09:41:52 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/01/14 09:41:52 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

difference (w)
op: is_null, op_class: e, example expression: z.is_null(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0       False
1       1        True
2       2       False
3       3        True
DB result:
   row_id  new_column
0       0       False
1       1       False
2       2       False
3       3       False
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.is_null()'})
   `row_id` ,
   (`z` IS NULL) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



difference (w)
op: count, op_class: e, example expression: z.count(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0           2
1       1           2
2       2           2
3       3           2
DB result:
   row_id  new_column
0       0           4
1       1           4
2       2           4
3       3           4
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.count()'}, partition_by=1)
   `row_id` ,
   SUM(CASE WHEN `z` IS NOT NULL THEN 1 ELSE 0 END) OVER (  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`

22/01/14 09:41:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/01/14 09:41:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

difference (w)
op: weekofyear, op_class: e, example expression: date_col_0.weekofyear(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0           1
1       1          13
2       2           1
3       3          13
DB result:
   row_id  new_column
0       0          52
1       1          14
2       2          52
3       3          14
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `date_col_0`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.weekofyear()'})
   `row_id` ,
   EXTRACT(WEEK FROM `date_col_0`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



difference (w)
op: _count, op_class: g, example expression: _count(), db: SparkSQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   SUM(1) OVER ( PARTITION BY `g`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



difference (w)
op: last, op_class: w, example expression: x.last(), db: SparkSQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0         0.2
1    a       1         0.2
2    b       2         0.3
3  ccc       3         0.4
DB result:
     g  row_id  new_column
0    a       0         0.1
1    a       1         0.2
2    b       2         0.3
3  ccc       3         0.4
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.last()'}, partition_by=['g'], order_by=['row_id'])
   `g` ,
   `row_id` ,
   LAST(`x`) OVER ( PARTITION BY `g` ORDER BY `row_id`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



difference (w)
op: _count, op_class: g, example expression: _count(), db: MySQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0         2.0
1    a       1         2.0
2    b       2         1.0
3  ccc       3         1.0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   SUM(1) OVER ( PARTITION BY `g`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`

In [9]:
op_catalog = op_catalog.sort_values(by=['op_class', 'op', 'expression'], inplace=False).reset_index(
    drop=True, inplace=False)
op_catalog['version'] = data_algebra.__version__
op_catalog

,op,expression,op_class,Pandas,SQLiteModel,BigQueryModel,PostgreSQLModel,SparkSQLModel,MySQLModel,version
0,!=,x != y,e,y,y,y,y,y,y,1.3.0
1,%,row_id % q,e,y,y,n,n,y,n,1.3.0
2,*,x * y,e,y,y,y,y,y,y,1.3.0
3,**,x ** y,e,y,y,y,y,y,y,1.3.0
4,+,x + y,e,y,y,y,y,y,y,1.3.0
...,...,...,...,...,...,...,...,...,...,...
113,cumsum,x.cumsum(),w,y,y,y,y,y,y,1.3.0
114,ffill,z.ffill(),w,y,n,n,n,n,n,1.3.0
115,last,x.last(),w,y,n,n,n,w,n,1.3.0
116,rank,x.rank(),w,y,n,n,n,y,n,1.3.0
117,shift,x.shift(),w,y,y,y,y,y,y,1.3.0

In [10]:
op_catalog.to_csv('op_catalog.csv', index=False)

In [11]:
table_as_python = data_algebra.util.pandas_to_example_str(op_catalog)
table_as_python = pretty_format_python(table_as_python)

with open('op_catalog.py', 'w') as f_out:
    print("""

import data_algebra

pd = data_algebra.default_data_model.pd

    """, file=f_out)
    print("methods_table = " + table_as_python, file=f_out)