## A catalog of [data algebra expression](https://github.com/WinVector/data_algebra) methods.

In [1]:
import datetime
import os
import warnings
import numpy as np
import pandas as pd
import pickle
import gzip

from data_algebra.data_ops import *
import data_algebra.SQLite
import data_algebra.BigQuery
import data_algebra.PostgreSQL
import data_algebra.SparkSQL
import data_algebra.MySQL
from data_algebra.parse_by_lark import parse_by_lark
import data_algebra.test_util
import data_algebra.util


def mk_example():
    datetime_format = "%Y-%m-%d %H:%M:%S"
    date_format = "%Y-%m-%d"
    d = pd.DataFrame({
        'row_id': [0, 1, 2, 3],
        'a': [False, False, True, True],
        'b': [False, True, False, True],
        'q': [1, 1, 2, 2],
        'x': [.1, .2, .3, .4],
        'y': [2.4, 1.33, 1.2, 1.1],
        'z': [1.6, None, -2.1, numpy.nan],
        'g': ['a', 'a', 'b', 'ccc'],
        's2': ['z', 'q', '11', 'b'],
        "str_datetime_col": ["2000-01-01 12:13:21", "2020-04-05 14:03:00", "2000-01-01 12:13:21", "2020-04-05 14:03:00"],
        "str_date_col": ["2000-03-01", "2020-04-05", "2000-03-01", "2020-04-05"],
        "datetime_col_0": pd.to_datetime(
            pd.Series(["2010-01-01 12:13:21", "2030-04-05 14:03:00", "2010-01-01 12:13:21", "2030-04-05 14:03:00"]),
            format=datetime_format,
        ),
        "datetime_col_1": pd.to_datetime(
            pd.Series(["2010-01-01 12:11:21", "2030-04-06 14:03:00", "2010-01-01 12:11:21", "2030-04-06 14:03:00"]),
            format=date_format,
        ),
        "date_col_0": pd.to_datetime(
            pd.Series(["2000-01-02", "2035-04-05", "2000-01-02", "2035-04-05"]),
            format=date_format
        ).dt.date,
        "date_col_1": pd.to_datetime(
            pd.Series(["2000-01-02", "2035-05-05", "2000-01-02", "2035-05-05"]),
            format=date_format
        ).dt.date,
    })
    return d


def f(expression):
    return (
        descr(d=d)
            .extend({'new_column': expression})
            .select_columns(['row_id', 'new_column'])
            .order_rows(['row_id'])
    )


def fg(expression):
    return (
        descr(d=d)
            .extend(
                {'new_column': expression},
                partition_by=['g'])
            .select_columns(['g', 'row_id', 'new_column'])
            .order_rows(['g', 'row_id'])
    )


def fp(expression):
    return (
        descr(d=d)
            .project(
                {'new_column': expression},
                group_by=['g'])
            .order_rows(['g'])
    )


def fw(expression):
    return (
        descr(d=d)
            .extend(
                {'new_column': expression},
                partition_by=['g'],
                order_by=['row_id'])
            .select_columns(['g', 'row_id', 'new_column'])
            .order_rows(['g', 'row_id'])
    )

In [2]:
d = mk_example()

d

,row_id,a,b,q,x,y,z,g,s2,str_datetime_col,str_date_col,datetime_col_0,datetime_col_1,date_col_0,date_col_1
0,0,False,False,1,0.1,2.40,1.6,a,z,2000-01-01 12:13:21,2000-03-01,2010-01-01 12:13:21,2010-01-01 12:11:21,2000-01-02,2000-01-02
1,1,False,True,1,0.2,1.33,NaN,a,q,2020-04-05 14:03:00,2020-04-05,2030-04-05 14:03:00,2030-04-06 14:03:00,2035-04-05,2035-05-05
2,2,True,False,2,0.3,1.20,-2.1,b,11,2000-01-01 12:13:21,2000-03-01,2010-01-01 12:13:21,2010-01-01 12:11:21,2000-01-02,2000-01-02
3,3,True,True,2,0.4,1.10,NaN,ccc,b,2020-04-05 14:03:00,2020-04-05,2030-04-05 14:03:00,2030-04-06 14:03:00,2035-04-05,2035-05-05

In [3]:
data_def = {k: v for (k, v) in descr(d=d).column_map().items()}

def parse(exp):
    return parse_by_lark(exp, data_def=data_def)

In [4]:
expressions = [
    'x + y',
    'x - y',
    'row_id // q',
    'row_id % q',
    'x / y',
    'x * y',
    'x ** y',
    'x == y',
    'x > y',
    'x >= y',
    'x < y',
    'x <= y',
    'x != y',
    '-x',
    'not a',
    'a & b',
    'a and b',
    'a | b',
    'a or b',
    'z.sign()',
    'x.sin()',
    'x.cos()',
    'x.arcsin()',
    'x.arccos()',
    'x.arctan()',
    'x.arctan2(y)',
    'x.sinh()',
    'x.cosh()',
    'x.tanh()',
    'x.arcsinh()',
    'x.arccosh()',
    'x.arctanh()',
    'y.floor()',
    'z.floor()',
    'y.ceil()',
    'z.ceil()',
    'x.sum()',
    'x.exp()',
    'y.expm1()',
    'x.log()',
    'x.log10()',
    'x.log1p()',
    'y.mod(0.5)',
    'y.remainder(0.5)',
    'x.sqrt()',
    'z.abs()',
    'row_id.maximum(x)',
    'row_id.minimum(x)',
    'row_id.fmax(x)',
    'row_id.fmin(x)',
    'y.round()',
    'y.around(2)',
    'z.is_null()',
    'z.is_bad()',
    'z.count()',
    'a.if_else(x, y)',
    'row_id.is_in({1, 3})',
    'g.concat(s2)',
    'g %+% "_" %+% s2',
    'z.coalesce(2)',
    'z %?% 2',
    'z.coalesce_0()',
    'g.mapv({"a": 1, "b": 2, "z": 26}, 0)',
    'y.as_int64()',
    'y.as_str()',
    'g.trimstr(0, 2)',
    'datetime_col_0.datetime_to_date()',
    'str_date_col.parse_date()',
    'str_datetime_col.parse_datetime()',
    'datetime_col_0.format_datetime()',
    'date_col_0.format_date()',
    'date_col_0.dayofweek()',
    'date_col_0.dayofyear()',
    'date_col_0.dayofmonth()',
    'date_col_0.weekofyear()',
    'date_col_0.month()',
    'date_col_0.quarter()',
    'date_col_0.year()',
    'datetime_col_0.timestamp_diff(datetime_col_1)',
    'date_col_0.date_diff(date_col_1)',
    'date_col_1.base_Sunday()',
]

grouped_expressions = [
    'x.sum()',
    '(1).sum()',
    '_ngroup()',
    'a.all()',
    'a.any()',
    'x.max()',
    'x.mean()',
    'x.median()',
    'x.min()',
    'x.nunique()',
    'x.size()',
    '_size()',
    '_count()',
]

project_expressions = [
    'x.sum()',
    '(1).sum()',
    'a.all()',
    'a.any()',
    'x.max()',
    'x.mean()',
    'x.median()',
    'x.min()',
    'x.nunique()',
    'x.size()',
    'x.std()',
    'x.var()',
]

windowed_expressions = [
    'z.bfill()',
    'z.ffill()',
    'x.last()',
    'x.rank()',
    'x.cumprod()',
    'x.cumsum()',
    'z.cumcount()',
    'x.cummax()',
    'x.cummin()',
    'x.shift()',
    '_row_number()',
]

u_expressions = [  # not simply checkable as output varies
    '_uniform()',
]

In [5]:
e_expectations = [(parse(exp).op, 'e', exp, f(exp), f(exp).transform(d)) for exp in expressions]
g_expectations = [(parse(exp).op, 'g', exp, fg(exp), fg(exp).transform(d)) for exp in grouped_expressions]
p_expectations = [(parse(exp).op, 'p', exp, fp(exp), fp(exp).transform(d)) for exp in project_expressions]
w_expectations = [(parse(exp).op, 'w', exp, fw(exp), fw(exp).transform(d)) for exp in windowed_expressions]
u_results = [(parse(exp).op, 'u', exp, f(exp), f(exp).transform(d)) for exp in u_expressions]

In [6]:
with gzip.open('expr_expectations.pkl.gz', 'wb') as out_f:
    pickle.dump(
        {
            'd': d,
            'e_expectations': e_expectations,
            'g_expectations': g_expectations,
            'p_expectations': p_expectations,
            'w_expectations': w_expectations,
            'u_results': u_results,
        },
        out_f)

In [7]:
ops_list = e_expectations + g_expectations + p_expectations + w_expectations + u_results

op_catalog = pd.DataFrame({
    'op': [op for op, op_class, exp, ops, expect in ops_list],
    'expression': [exp for op, op_class, exp, ops, expect in ops_list],
    'op_class': [op_class for op, op_class, exp, ops, expect in ops_list],
})
op_catalog['Pandas'] = 'y'


def test_on_db(db_handle):
    # test on db
    res_vector = ['?'] * len(ops_list)
    db_handle.insert_table(d, table_name='d', allow_overwrite=True)
    for i in range(len(ops_list)):
        op = ops_list[i][0]
        op_class = ops_list[i][1]
        exp = ops_list[i][2]
        ops = ops_list[i][3]
        expect = ops_list[i][4]
        try:
            res = db_handle.read_query(ops)
            if op_class != 'u':
                if data_algebra.test_util.equivalent_frames(res, expect):
                    res_vector[i] = 'y'
                else:
                    res_vector[i] = 'w'
                    print()
                    print("difference (w)")
                    print(f'op: {op}, op_class: {op_class}, example expression: {exp}, db: {db_handle.db_model}')
                    print("Pandas result (expectation):")
                    print(expect)
                    print("DB result:")
                    print(res)
                    print("query")
                    print(db_handle.to_sql(ops))
                    print()
            else:
                res_vector[i] = 'y'
        except Exception as ex:
            res_vector[i] = 'n'
            print()
            print("error (n)")
            print(f'op: {op}, op_class: {op_class}, example expression: {exp}, db: {db_handle.db_model}')
            print(f"caught: {ex}")
            print()
    db_handle.drop_table('d')
    return res_vector


db_handles = [
    data_algebra.SQLite.example_handle(),
    data_algebra.BigQuery.example_handle(),
    data_algebra.PostgreSQL.example_handle(),
    data_algebra.SparkSQL.example_handle(),
    data_algebra.MySQL.example_handle(),
]

22/01/14 14:16:58 WARN Utils: Your hostname, JAMiMac.local resolves to a loopback address: 127.0.0.1; using 192.168.0.155 instead (on interface en1)
22/01/14 14:16:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/14 14:16:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
warnings.filterwarnings("ignore")
for db_handle in db_handles:
    db_test_res = test_on_db(db_handle)
    op_catalog[str(db_handle.db_model)] = db_test_res
    db_handle.close()

error (n)
op: arctan2, op_class: e, example expression: x.arctan2(y), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "y"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.arctan2(y)'})
   "row_id" ,
   ARCTAN2("x", "y") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such function: ARCTAN2


difference (w)
op: remainder, op_class: e, example expression: y.remainder(0.5), db: SQLiteModel
Pandas result (expectation):
   row_id  new_column
0       0        0.40
1       1        0.33
2       2        0.20
3       3        0.10
DB result:
   row_id new_column
0       0       None
1       1       None
2       2       None
3       3       None
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "y"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'y.remainder(0.5)'})
   "row_id" ,
   ("y" % 0.5) AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"



difference (w)
op: datetime_to_date, op_class: e, example expression: datetime_col_0.datetime_to_date(), db: SQLiteModel
Pandas result (expectation):
   row_id  new_column
0       0  2010-01-01
1       1  2030-04-05
2       2  2010-01-01
3       3  2030-04-05
DB result:
   row_id  new_column
0       0  2010-01-01
1       1  2030-04-05
2       2  2010-01-01
3       3  2030-04-05
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "datetime_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'datetime_col_0.datetime_to_date()'})
   "row_id" ,
   DATE("datetime_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"



error (n)
op: parse_date, op_class: e, example expression: str_date_col.parse_date(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "str_date_col"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': "str_date_col.parse_date('%Y-%m-%d')"})
   "row_id" ,
   PARSE_DATE('%Y-%m-%d', "str_date_col") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such function: PARSE_DATE


error (n)
op: parse_datetime, op_class: e, example expression: str_datetime_col.parse_datetime(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "str_datetime_col"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': "str_datetime_col.parse_datetime('%Y-%m-%d %H:%M:%S')"})
   "row_id" ,
   PARSE_DATETIME('%Y-%m-%d %H:%M:%S', "str_datetime_col") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such function: PARSE_DATETIME


error (n)
op: format_datetime, op_class: e, example expression: datetime_col_0.format_datetime(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "datetime_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': "datetime_col_0.format_datetime('%Y-%m-%d %H:%M:%S')"})
   "row_id" ,
   FORMAT_DATETIME('%Y-%m-%d %H:%M:%S', "datetime_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such function: FORMAT_DATETIME


error (n)
op: format_date, op_class: e, example expression: date_col_0.format_date(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': "date_col_0.format_date('%Y-%m-%d')"})
   "row_id" ,
   FORMAT_DATE('%Y-%m-%d', "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such function: FORMAT_DATE


error (n)
op: dayofweek, op_class: e, example expression: date_col_0.dayofweek(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.dayofweek()'})
   "row_id" ,
   EXTRACT(DAYOFWEEK FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: dayofyear, op_class: e, example expression: date_col_0.dayofyear(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.dayofyear()'})
   "row_id" ,
   EXTRACT(DAYOFYEAR FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: dayofmonth, op_class: e, example expression: date_col_0.dayofmonth(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.dayofmonth()'})
   "row_id" ,
   EXTRACT(DAY FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: weekofyear, op_class: e, example expression: date_col_0.weekofyear(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.weekofyear()'})
   "row_id" ,
   EXTRACT(WEEK FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: month, op_class: e, example expression: date_col_0.month(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.month()'})
   "row_id" ,
   EXTRACT(MONTH FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: quarter, op_class: e, example expression: date_col_0.quarter(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.quarter()'})
   "row_id" ,
   EXTRACT(QUARTER FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: year, op_class: e, example expression: date_col_0.year(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.year()'})
   "row_id" ,
   EXTRACT(YEAR FROM "date_col_0") AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: timestamp_diff, op_class: e, example expression: datetime_col_0.timestamp_diff(datetime_col_1), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "datetime_col_0" ,
   "datetime_col_1"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'datetime_col_0.timestamp_diff(datetime_col_1)'})
   "row_id" ,
   TIMESTAMP_DIFF("datetime_col_0", "datetime_col_1", SECOND) AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such column: SECOND


error (n)
op: date_diff, op_class: e, example expression: date_col_0.date_diff(date_col_1), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_0" ,
   "date_col_1"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.date_diff(date_col_1)'})
   "row_id" ,
   TIMESTAMP_DIFF("date_col_0", "date_col_1", DAY) AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': no such column: DAY


error (n)
op: base_Sunday, op_class: e, example expression: date_col_1.base_Sunday(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "date_col_1"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'date_col_1.base_Sunday()'})
   "row_id" ,
   DATE_SUB("date_col_1", INTERVAL (EXTRACT(DAYOFWEEK FROM "date_col_1") - 1) DAY) AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "row_id"
': near "FROM": syntax error


error (n)
op: _ngroup, op_class: g, example expression: _ngroup(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': '_ngroup()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   NGROUP() OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': no such function: NGROUP


error (n)
op: all, op_class: g, example expression: a.all(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "a" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'a.all()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   (MIN("a") >= 1) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': near "OVER": syntax error


error (n)
op: any, op_class: g, example expression: a.any(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "a" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'a.any()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   (MAX("a") >= 1) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': near "OVER": syntax error


error (n)
op: median, op_class: g, example expression: x.median(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.median()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   MEDIAN("x") OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': MEDIAN() may not be used as a window function


error (n)
op: nunique, op_class: g, example expression: x.nunique(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.nunique()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   COUNT(DISTINCT ("x")) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': DISTINCT is not supported for window functions


difference (w)
op: _count, op_class: g, example expression: _count(), db: SQLiteModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   "g" ,
   "row_id" ,
   SUM(1) OVER ( PARTITION BY "g"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"



error (n)
op: bfill, op_class: w, example expression: z.bfill(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "z" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'z.bfill()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   BFILL("z") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': no such function: BFILL


error (n)
op: ffill, op_class: w, example expression: z.ffill(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "z" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'z.ffill()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   FFILL("z") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': no such function: FFILL


error (n)
op: last, op_class: w, example expression: x.last(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.last()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   LAST("x") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': no such function: LAST


error (n)
op: rank, op_class: w, example expression: x.rank(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.rank()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   RANK("x") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': wrong number of arguments to function RANK()


error (n)
op: cumprod, op_class: w, example expression: x.cumprod(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "x" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'x.cumprod()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   CUMPROD("x") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM
   "table_reference_0"
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 "extend_1"
ORDER BY
 "g" ,
 "row_id"
': no such function: CUMPROD


error (n)
op: cumcount, op_class: w, example expression: z.cumcount(), db: SQLiteModel
caught: Execution failed on sql '-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel
--       string quote: '
--   identifier quote: "
WITH
 "table_reference_0" AS (
  SELECT
   "row_id" ,
   "z" ,
   "g"
  FROM
   "d"
 ) ,
 "extend_1" AS (
  SELECT  -- .extend({ 'new_column': 'z.cumcount()'}, partition_by=['g'], order_by=['row_id'])
   "g" ,
   "row_id" ,
   CUMCOUNT("z") OVER ( PARTITION BY "g" ORDER BY "row_id"  )  AS "new_column"
  FROM

error (n)
op: arcsin, op_class: e, example expression: x.arcsin(), db: SparkSQLModel
caught: Undefined function: 'ARCSIN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: arccos, op_class: e, example expression: x.arccos(), db: SparkSQLModel
caught: Undefined function: 'ARCCOS'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: arctan, op_class: e, example expression: x.arctan(), db: SparkSQLModel
caught: Undefined function: 'ARCTAN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: arctan2, op_class: e, example expression: x.arctan2(y), db: SparkSQLModel
caught: Undefined function: 'ARCTAN2'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 17 pos 3


error (n)
op: arcsinh, op_class: e, example expression: x.arcsinh(), db: SparkSQLModel
caught: Undefined function: 'ARCSINH'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: arccosh, op_class: e, example expression: x.arccosh(), db: SparkSQLModel
caught: Undefined function: 'ARCCOSH'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: arctanh, op_class: e, example expression: x.arctanh(), db: SparkSQLModel
caught: Undefined function: 'ARCTANH'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


difference (w)
op: floor, op_class: e, example expression: z.floor(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0         1.0
1       1         NaN
2       2        -3.0
3       3         NaN
DB result:
   row_id  new_column
0       0           1
1       1           0
2       2          -3
3       3           0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.floor()'})
   `row_id` ,
   FLOOR(`z`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



difference (w)
op: ceil, op_class: e, example expression: z.ceil(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0         2.0
1       1         NaN
2       2        -2.0
3       3         NaN
DB result:
   row_id  new_column
0       0           2
1       1           0
2       2          -2
3       3           0
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.ceil()'})
   `row_id` ,
   CEILING(`z`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`

22/01/14 14:19:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/01/14 14:19:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

error (n)
op: remainder, op_class: e, example expression: y.remainder(0.5), db: SparkSQLModel
caught: Undefined function: 'REMAINDER'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


difference (w)
op: is_null, op_class: e, example expression: z.is_null(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0       False
1       1        True
2       2       False
3       3        True
DB result:
   row_id  new_column
0       0       False
1       1       False
2       2       False
3       3       False
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.is_null()'})
   `row_id` ,
   (`z` IS NULL) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`

22/01/14 14:19:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/01/14 14:19:42 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

difference (w)
op: count, op_class: e, example expression: z.count(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0           2
1       1           2
2       2           2
3       3           2
DB result:
   row_id  new_column
0       0           4
1       1           4
2       2           4
3       3           4
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `z`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'z.count()'}, partition_by=1)
   `row_id` ,
   SUM(CASE WHEN `z` IS NOT NULL THEN 1 ELSE 0 END) OVER (  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



error (n)
op: as_int64, op_class: e, example expression: y.as_int64(), db: SparkSQLModel
caught:
DataType int64 is not supported.(line 16, pos 15)

== SQL ==
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `y`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'y.as_int64()'})
   `row_id` ,
   CAST(`y` AS INT64) AS `new_column`
---------------^^^
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



error (n)
op: parse_date, op_class: e, example expression: str_date_col.parse_date(), db: SparkSQLModel
caught: Undefined function: 'PARSE_DATE'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: parse_datetime, op_class: e, example expression: str_datetime_col.parse_datetime(), db: SparkSQLModel
caught: Undefined function: 'PARSE_DATETIME'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: format_datetime, op_class: e, example expression: datetime_col_0.format_datetime(), db: SparkSQLModel
caught: Undefined function: 'FORMAT_DATETIME'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: format_date, op_class: e, example expression: date_col_0.format_date(), db: SparkSQLModel
caught: Undefined function: 'FORMAT_DATE'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 16 pos 3


error (n)
op: dayofyear, op_class: e, example expression: date_col_0.dayofyear(), db: SparkSQLModel
caught: Literals of type 'DAYOFYEAR' are currently not supported for the date type.; line 16 pos 3


difference (w)
op: weekofyear, op_class: e, example expression: date_col_0.weekofyear(), db: SparkSQLModel
Pandas result (expectation):
   row_id  new_column
0       0           1
1       1          13
2       2           1
3       3          13
DB result:
   row_id  new_column
0       0          52
1       1          14
2       2          52
3       3          14
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `date_col_0`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'date_col_0.weekofyear()'})
   `row_id` ,
   EXTRACT(WEEK FROM `date_col_0`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



error (n)
op: timestamp_diff, op_class: e, example expression: datetime_col_0.timestamp_diff(datetime_col_1), db: SparkSQLModel
caught: Undefined function: 'TIMESTAMP_DIFF'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 17 pos 3


error (n)
op: date_diff, op_class: e, example expression: date_col_0.date_diff(date_col_1), db: SparkSQLModel
caught: Undefined function: 'TIMESTAMP_DIFF'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 17 pos 3


error (n)
op: base_Sunday, op_class: e, example expression: date_col_1.base_Sunday(), db: SparkSQLModel
caught:
no viable alternative at input 'WITH\n `table_reference_0` AS (\n  SELECT\n   `row_id` ,\n   `date_col_1`\n  FROM\n   `d`\n ) ,\n `extend_1` AS (\n  SELECT  -- .extend({ 'new_column': 'date_col_1.base_Sunday()'})\n   `row_id` ,\n   DATE_SUB(`date_col_1`, INTERVAL (EXTRACT(DAYOFWEEK FROM `date_col_1`) - 1) DAY'(line 16, pos 78)

== SQL ==
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `date_col_1`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'date_col_1.base_Sunday()'})
   `row_id` ,
   DATE_SUB(`date_col_1`, INTERVAL (EXTRACT(DAYOFWEEK FROM `date_col_1`) - 1) DAY) AS `new_column`
------------------------------------------------------------------------------^^^
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`



error (n)
op: _ngroup, op_class: g, example expression: _ngroup(), db: SparkSQLModel
caught: Undefined function: 'NGROUP'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 17 pos 3


error (n)
op: all, op_class: g, example expression: a.all(), db: SparkSQLModel
caught:
no viable alternative at input 'WITH\n `table_reference_0` AS (\n  SELECT\n   `row_id` ,\n   `a` ,\n   `g`\n  FROM\n   `d`\n ) ,\n `extend_1` AS (\n  SELECT  -- .extend({ 'new_column': 'a.all()'}, partition_by=['g'])\n   `g` ,\n   `row_id` ,\n   (MIN(`a`) >= 1) OVER ('(line 18, pos 24)

== SQL ==
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `a` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'a.all()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   (MIN(`a`) >= 1) OVER ( PARTITION BY `g`  )  AS `new_column`
------------------------^^^
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



error (n)
op: any, op_class: g, example expression: a.any(), db: SparkSQLModel
caught:
no viable alternative at input 'WITH\n `table_reference_0` AS (\n  SELECT\n   `row_id` ,\n   `a` ,\n   `g`\n  FROM\n   `d`\n ) ,\n `extend_1` AS (\n  SELECT  -- .extend({ 'new_column': 'a.any()'}, partition_by=['g'])\n   `g` ,\n   `row_id` ,\n   (MAX(`a`) >= 1) OVER ('(line 18, pos 24)

== SQL ==
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `a` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'a.any()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   (MAX(`a`) >= 1) OVER ( PARTITION BY `g`  )  AS `new_column`
------------------------^^^
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



error (n)
op: median, op_class: g, example expression: x.median(), db: SparkSQLModel
caught: Undefined function: 'MEDIAN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: nunique, op_class: g, example expression: x.nunique(), db: SparkSQLModel
caught: Distinct window functions are not supported: count(distinct x#4) windowspecdefinition(g#7, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$()));
WithCTE
:- CTERelationDef 172
:  +- SubqueryAlias table_reference_0
:     +- Project [row_id#0L, x#4, g#7]
:        +- SubqueryAlias d
:           +- View (`d`, [row_id#0L,a#1,b#2,q#3L,x#4,y#5,z#6,g#7,s2#8,str_datetime_col#9,str_date_col#10,datetime_col_0#11,datetime_col_1#12,date_col_0#13,date_col_1#14])
:              +- LogicalRDD [row_id#0L, a#1, b#2, q#3L, x#4, y#5, z#6, g#7, s2#8, str_datetime_col#9, str_date_col#10, datetime_col_0#11, datetime_col_1#12, date_col_0#13, date_col_1#14], false
:- CTERelationDef 173
:  +- SubqueryAlias extend_1
:     +- Project [g#7, row_id#0L, new_column#296L]
:        +- Project [g#7, row_id#0L, x#4, new_column#296L, new_column#296L]
:           +- Window [count(distinct x#4) windowspecdefinition(g#7, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS new_column#296L], [g#7]
:              +- Project [g#7, row_id#0L, x#4]
:                 +- SubqueryAlias table_reference_0
:                    +- CTERelationRef 172, true, [row_id#0L, x#4, g#7]
+- Sort [g#7 ASC NULLS FIRST, row_id#0L ASC NULLS FIRST], true
   +- Project [g#7, row_id#0L, new_column#296L]
      +- SubqueryAlias extend_1
         +- CTERelationRef 173, true, [g#7, row_id#0L, new_column#296L]



difference (w)
op: _count, op_class: g, example expression: _count(), db: SparkSQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0           1
1    a       1           2
2    b       2           1
3  ccc       3           1
DB result:
     g  row_id  new_column
0    a       0           2
1    a       1           2
2    b       2           1
3  ccc       3           1
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': '_count()'}, partition_by=['g'])
   `g` ,
   `row_id` ,
   SUM(1) OVER ( PARTITION BY `g`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



error (n)
op: all, op_class: p, example expression: a.all(), db: SparkSQLModel
caught: cannot resolve '(min(table_reference_0.a) >= 1)' due to data type mismatch: differing types in '(min(table_reference_0.a) >= 1)' (boolean and int).; line 15 pos 4;
'WithCTE
:- CTERelationDef 184
:  +- SubqueryAlias table_reference_0
:     +- Project [a#1, g#7]
:        +- SubqueryAlias d
:           +- View (`d`, [row_id#0L,a#1,b#2,q#3L,x#4,y#5,z#6,g#7,s2#8,str_datetime_col#9,str_date_col#10,datetime_col_0#11,datetime_col_1#12,date_col_0#13,date_col_1#14])
:              +- LogicalRDD [row_id#0L, a#1, b#2, q#3L, x#4, y#5, z#6, g#7, s2#8, str_datetime_col#9, str_date_col#10, datetime_col_0#11, datetime_col_1#12, date_col_0#13, date_col_1#14], false
:- 'CTERelationDef 185
:  +- 'SubqueryAlias project_1
:     +- 'Aggregate [g#7], [(min(a#1) >= 1) AS new_column#334, g#7]
:        +- SubqueryAlias table_reference_0
:           +- CTERelationRef 184, true, [a#1, g#7]
+- 'Sort ['g ASC NULLS FIRST], true
   +- 'Project [*]
      +- 'SubqueryAlias project_1
         +- 'CTERelationRef 185, false



error (n)
op: any, op_class: p, example expression: a.any(), db: SparkSQLModel
caught: cannot resolve '(max(table_reference_0.a) >= 1)' due to data type mismatch: differing types in '(max(table_reference_0.a) >= 1)' (boolean and int).; line 15 pos 4;
'WithCTE
:- CTERelationDef 186
:  +- SubqueryAlias table_reference_0
:     +- Project [a#1, g#7]
:        +- SubqueryAlias d
:           +- View (`d`, [row_id#0L,a#1,b#2,q#3L,x#4,y#5,z#6,g#7,s2#8,str_datetime_col#9,str_date_col#10,datetime_col_0#11,datetime_col_1#12,date_col_0#13,date_col_1#14])
:              +- LogicalRDD [row_id#0L, a#1, b#2, q#3L, x#4, y#5, z#6, g#7, s2#8, str_datetime_col#9, str_date_col#10, datetime_col_0#11, datetime_col_1#12, date_col_0#13, date_col_1#14], false
:- 'CTERelationDef 187
:  +- 'SubqueryAlias project_1
:     +- 'Aggregate [g#7], [(max(a#1) >= 1) AS new_column#336, g#7]
:        +- SubqueryAlias table_reference_0
:           +- CTERelationRef 186, true, [a#1, g#7]
+- 'Sort ['g ASC NULLS FIRST], true
   +- 'Project [*]
      +- 'SubqueryAlias project_1
         +- 'CTERelationRef 187, false



error (n)
op: median, op_class: p, example expression: x.median(), db: SparkSQLModel
caught: Undefined function: 'MEDIAN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 15 pos 3


error (n)
op: bfill, op_class: w, example expression: z.bfill(), db: SparkSQLModel
caught: Undefined function: 'BFILL'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: ffill, op_class: w, example expression: z.ffill(), db: SparkSQLModel
caught: Undefined function: 'FFILL'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


difference (w)
op: last, op_class: w, example expression: x.last(), db: SparkSQLModel
Pandas result (expectation):
     g  row_id  new_column
0    a       0         0.2
1    a       1         0.2
2    b       2         0.3
3  ccc       3         0.4
DB result:
     g  row_id  new_column
0    a       0         0.1
1    a       1         0.2
2    b       2         0.3
3  ccc       3         0.4
query
-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SparkSQLModel
--       string quote: "
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x` ,
   `g`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.last()'}, partition_by=['g'], order_by=['row_id'])
   `g` ,
   `row_id` ,
   LAST(`x`) OVER ( PARTITION BY `g` ORDER BY `row_id`  )  AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['g', 'row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `g` ,
 `row_id`



error (n)
op: cumprod, op_class: w, example expression: x.cumprod(), db: SparkSQLModel
caught: Undefined function: 'CUMPROD'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: cumcount, op_class: w, example expression: z.cumcount(), db: SparkSQLModel
caught: Undefined function: 'CUMCOUNT'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: cummax, op_class: w, example expression: x.cummax(), db: SparkSQLModel
caught: Undefined function: 'CUMMAX'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: cummin, op_class: w, example expression: x.cummin(), db: SparkSQLModel
caught: Undefined function: 'CUMMIN'. This function is neither a registered temporary function nor a permanent function registered in the database 'default'.; line 18 pos 3


error (n)
op: %, op_class: e, example expression: row_id % q, db: MySQLModel
caught: unsupported format character 'q' (0x71) at index 280


error (n)
op: arcsin, op_class: e, example expression: x.arcsin(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.ARCSIN does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.arcsin()'})
   `row_id` ,
   ARCSIN(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: arccos, op_class: e, example expression: x.arccos(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.ARCCOS does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.arccos()'})
   `row_id` ,
   ARCCOS(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: arctan, op_class: e, example expression: x.arctan(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.ARCTAN does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.arctan()'})
   `row_id` ,
   ARCTAN(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: arctan2, op_class: e, example expression: x.arctan2(y), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.ARCTAN2 does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x` ,
   `y`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.arctan2(y)'})
   `row_id` ,
   ARCTAN2(`x`, `y`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: sinh, op_class: e, example expression: x.sinh(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.SINH does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.sinh()'})
   `row_id` ,
   SINH(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: cosh, op_class: e, example expression: x.cosh(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.COSH does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.cosh()'})
   `row_id` ,
   COSH(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)


error (n)
op: tanh, op_class: e, example expression: x.tanh(), db: MySQLModel
caught: (pymysql.err.OperationalError) (1305, 'FUNCTION jmount.TANH does not exist')
[SQL: -- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: MySQLModel
--       string quote: '
--   identifier quote: `
WITH
 `table_reference_0` AS (
  SELECT
   `row_id` ,
   `x`
  FROM
   `d`
 ) ,
 `extend_1` AS (
  SELECT  -- .extend({ 'new_column': 'x.tanh()'})
   `row_id` ,
   TANH(`x`) AS `new_column`
  FROM
   `table_reference_0`
 )
SELECT  -- .order_rows(['row_id'])
 *
FROM
 `extend_1`
ORDER BY
 `row_id`
]

In [9]:
op_catalog = op_catalog.sort_values(by=['op_class', 'op', 'expression'], inplace=False).reset_index(
    drop=True, inplace=False)
op_catalog['version'] = data_algebra.__version__
op_catalog

,op,expression,op_class,Pandas,SQLiteModel,BigQueryModel,PostgreSQLModel,SparkSQLModel,MySQLModel,version
0,!=,x != y,e,y,y,y,y,y,y,1.3.0
1,%,row_id % q,e,y,y,n,n,y,n,1.3.0
2,*,x * y,e,y,y,y,y,y,y,1.3.0
3,**,x ** y,e,y,y,y,y,y,y,1.3.0
4,+,x + y,e,y,y,y,y,y,y,1.3.0
...,...,...,...,...,...,...,...,...,...,...
113,cumsum,x.cumsum(),w,y,y,y,y,y,y,1.3.0
114,ffill,z.ffill(),w,y,n,n,n,n,n,1.3.0
115,last,x.last(),w,y,n,n,n,w,n,1.3.0
116,rank,x.rank(),w,y,n,n,n,y,n,1.3.0
117,shift,x.shift(),w,y,y,y,y,y,y,1.3.0

In [10]:
op_catalog.to_csv('op_catalog.csv', index=False)

In [11]:
table_as_python = data_algebra.util.pandas_to_example_str(op_catalog)
table_as_python = pretty_format_python(table_as_python)

with open('op_catalog.py', 'w') as f_out:
    print("""

import data_algebra

pd = data_algebra.default_data_model.pd

    """, file=f_out)
    print("methods_table = " + table_as_python, file=f_out)