In [1]:

import pandas
from data_algebra.data_ops import *


# some example data
d = pandas.DataFrame({
    'ID': [1, 1, 2, 3, 4, 4, 4, 4, 5, 5, 6],
    'OP': ['A', 'B', 'A', 'D', 'C', 'A', 'D', 'B', 'A', 'B', 'B'],
})


def add_to_column(pipeline, colname, delta):
    return pipeline.extend({colname: f'{colname} + {delta}'})


ops = data(d=d).use(add_to_column, 'ID', 5)

print(ops)

(TableDescription(table_name="d", column_names=["ID", "OP"]).extend({"ID": "ID + 5"}))

In [2]:
ops.ex()

    ID OP
0    6  A
1    6  B
2    7  A
3    8  D
4    9  C
5    9  A
6    9  D
7    9  B
8   10  A
9   10  B
10  11  B