In [1]:
from data_algebra.data_ops import *
from data_algebra.data_pipe import *
import data_algebra.yaml
import data_algebra.env

data_algebra.yaml.fix_ordered_dict_yaml_rep()
data_algebra.env.push_onto_namespace_stack(locals())

d = pandas.DataFrame({'x': [-1, 0, 1], 'y': [1, 2, 3]})

In [2]:
ops0 = TableDescription('t1', ['x', 'y']) .\
        extend({'z': 'x / y'})  .\
        select_rows('z >= 0')


ops0.eval_pandas({'t1': d})

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [3]:
ops0.transform(d)

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [4]:
d >> ops0

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [5]:
ops1 = (
    TableDescription('t1', ['x', 'y']) >>
        Extend({'z': 'x / y'}) >>
        SelectRows('z >= 0')
    )


ops1.eval_pandas({'t1': d})

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [6]:
ops1.transform(d)

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [7]:
d >> ops1

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [8]:
ops2 = Locum() .\
        extend({'z': 'x / y'})  .\
        select_rows('z >= 0')

ops2.transform(d)

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [9]:
ops2.eval_pandas({'t1': d})

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [10]:
d >> ops2

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [11]:
ops3 = ( Locum('dtab') >>
            Extend({'z': 'x / y'})  >>
            SelectRows('z >= 0')
        )

ops3.transform(d)

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [12]:
ops3.eval_pandas({'dtab': d})

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [13]:
d >> ops3

   x  y         z
0  0  2  0.000000
1  1  3  0.333333

In [14]:
d >> wrap_pipeline( 
    Extend({'z': 'x / y'})  >>
        SelectRows('z >= 0') >>
        Extend({'q': 'y - z'})
    )

   x  y         z         q
0  0  2  0.000000  2.000000
1  1  3  0.333333  2.666667

In [15]:
d >> ( Locum() .
        extend({'z': 'x / y'}) .
        select_rows('z >= 0') .
        extend({'q': 'y - z'})
    )

   x  y         z         q
0  0  2  0.000000  2.000000
1  1  3  0.333333  2.666667

In [16]:
d >> wrap_ops(
        Extend({'z': 'x / y'}),
        SelectRows('z >= 0'),
        Extend({'q': 'y - z'})
    )

   x  y         z         q
0  0  2  0.000000  2.000000
1  1  3  0.333333  2.666667