In [1]:
from data_algebra.data_ops import *
from data_algebra.data_pipe import *
import data_algebra.yaml
import data_algebra.env
import numpy
import pandas

data_algebra.yaml.fix_ordered_dict_yaml_rep()
data_algebra.env.push_onto_namespace_stack(locals())

d = pandas.DataFrame({'x': [-1, 0, 1, numpy.nan], 'y': [1, 2, numpy.nan, 3]})

In [2]:
ops0 = TableDescription('t1', ['x', 'y']) .\
        extend({'z': 'x / y'})  .\
        select_rows('z >= 0')


ops0.eval({'t1': d})

     x    y    z
0  0.0  2.0  0.0

In [3]:
ops0.transform(d)

     x    y    z
0  0.0  2.0  0.0

In [4]:
d >> ops0

     x    y    z
0  0.0  2.0  0.0

In [5]:
ops1 = (
    TableDescription('t1', ['x', 'y']) >>
        Extend({'z': 'x / y'}) >>
        SelectRows('z >= 0')
    )


ops1.eval({'t1': d})

     x    y    z
0  0.0  2.0  0.0

In [6]:
ops1.transform(d)

     x    y    z
0  0.0  2.0  0.0

In [7]:
d >> ops1

     x    y    z
0  0.0  2.0  0.0