In [1]:
import pandas
from data_algebra.data_ops import *

d = pandas.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6]
})

wrap(d). \
    extend({'z': 'x + y'}). \
    ex()

   x  y  z
0  1  4  5
1  2  5  7
2  3  6  9

In [2]:
d

   x  y
0  1  4
1  2  5
2  3  6