In [1]:

import data_algebra
import pandas as pd
import polars as pl
import data_algebra.polars_model  # cause Polars adapter to load and register

In [2]:
d_polars = pl.DataFrame({"x": range(10),  "y": range(10)})
ops = (
    data_algebra.descr(d=d_polars)
        .select_rows("x < 5")
)

In [3]:
res_polars = ops.transform(d_polars)

res_polars

shape: (5, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 0   ┆ 0   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 1   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 3   ┆ 3   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 4   ┆ 4   │
└─────┴─────┘

In [4]:
print(ops.to_sql())

-- data_algebra SQL https://github.com/WinVector/data_algebra
--  dialect: SQLiteModel 1.4.6
--       string quote: '
--   identifier quote: "
SELECT  -- .select_rows('x < 5')
 "x" ,
 "y"
FROM
 "d"
WHERE
 "x" < 5

In [5]:
d_pandas = pd.DataFrame({"x": range(10),  "y": range(10)})

In [6]:
res_pandas = ops.transform(d_pandas)

res_pandas

   x  y
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4