In [1]:
import numpy as np
import data_algebra
import polars as pl
import data_algebra.polars_model

In [2]:
d = pl.DataFrame({"x": range(100),  "y": range(100)})
ops = (
    data_algebra.descr(d=d)
        .select_rows("x < 50")
)

In [3]:
res = ops.transform(d)

In [4]:
res

shape: (50, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 0   ┆ 0   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 1   ┆ 1   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ 2   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 3   ┆ 3   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ ... ┆ ... │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 46  ┆ 46  │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 47  ┆ 47  │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 48  ┆ 48  │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 49  ┆ 49  │
└─────┴─────┘