Professor Sourav Chatterjee's xicor coefficient of correlation (<a href="https://win-vector.com/2021/12/29/exploring-the-xi-correlation-coefficient/">Nina Zumel's tutorial</a>, <a href="https://doi.org/10.1080/01621459.2020.1758115">JASA</a>; original sources: <a href="https://CRAN.R-project.org/package=XICOR">R package</a>, <a href="https://arxiv.org/abs/1909.10140">Arxiv</a>, <a href="https://news.ycombinator.com/item?id=29687613">Hacker News</a>, and <a href="https://github.com/czbiohub/xicor">a Python package</a> (different author)).

In [1]:
import numpy as np
import pandas
import pandas as pd
from data_algebra.data_ops import *
import yaml

In [2]:
def xicor_query(
        *,
        x_name: str = 'x',
        y_name: str = 'y',
        var_keys: Iterable[str] = ('vname', ),
        table_name='df'):
    """
    Build a query computing the xicor of y_name as a function of x_name for each var_keys group of rows.
    Ref: https://arxiv.org/abs/1909.10140

    xicor(x, y) : 1 - n sum(i = 0, n-2) |r(i+1) - r(i)| / (2 * sum(i=0, n-1) l(i) (n - l(i)),
    where r(i) is the rank of the i-th Y item when ordered by x, and l(i) is the reverse rank of
    the l-th Y item.

    :param x_name: name for explanatory variable column.
    :param y_name: name for dependent variable column.
    :param var_keys: list of names for variable id columns.
    :param rep_id: name for repetition id column.
    :param table_name: name of data source
    :return: data algebra query computing xicor.
    """
    assert isinstance(x_name, str)
    assert isinstance(y_name, str)
    assert not isinstance(var_keys, str)
    var_keys = list(var_keys)
    assert len(var_keys) > 0
    x_tie_breaker = x_name + "_tie_breaker"
    y_group = y_name + "_group"
    names = [
        x_name, y_name, x_tie_breaker, y_group,
        'l', 'n', 'r',
        'rplus', 'rdiff', 'lterm', 'num_sum', 'den_sum',
        'xicor'
        ] + var_keys
    assert(len(names) == len(set(names)))
    ops = (
        TableDescription(table_name=table_name, column_names=var_keys + [x_name, y_name])
            .extend({y_group: f"{y_name}.as_str()"})  # Google BigQuery won't group by float
            .extend({    # convert types, and add in tie breaking column
                x_name: f"1.0 * {x_name}",
                y_name: f"1.0 * {y_name}",
                x_tie_breaker: "_uniform()"})
            .extend(
                {"n": "(1).sum()"}, partition_by=var_keys)  # annotate in number of rows
            .extend(  # compute y ranks, that we will use to compare rank changes wrt x
                {"r": "(1).cumsum()"}, order_by=[y_name], partition_by=var_keys)
            .extend(  # compute reverse y ranks, used to normalize for ties in denominator
                {"l": "(1).cumsum()"}, order_by=[y_name], reverse=[y_name], partition_by=var_keys)
            .extend(  # go to max rank of group tie breaking
                {"l": "l.max()", "r": "r.max()"}, partition_by=[y_group] + var_keys)
            .extend(  # get y rank and y rank of next x-item into same row so we can take a difference
                {"rplus": "r.shift(1)"},
                order_by=[x_name, x_tie_breaker],
                reverse=[x_name, x_tie_breaker],
                partition_by=var_keys,
                )
            .extend(  # compute numerator and denominator terms
                {"rdiff": "((rplus - r).abs()).coalesce(0)", "lterm": "l * (n - l)"})
            .project(   # aggregate to compute sums in xicor definition
                {"num_sum": "rdiff.sum()", "den_sum": "lterm.sum()",
                 "n": "n.max()"  # pseudo-aggregation n is constant across rows
                 },
                group_by=var_keys,
                )
            .extend(  # apply actual xicor formula
                {"xicor": "1.0 - ((n * num_sum) / (2.0 * den_sum))"})
            .select_columns(var_keys + ["xicor"])
        )
    return ops

In [3]:
x_y_ops = xicor_query(var_keys=['vname', 'rep'])

def xicor(x, y):
    """
    Compute xicor of y treated as a function of x.

    :param x: vector of explanatory variable values.
    :param y: vector of dependent variable values.
    :return: xicor score (floating point number).
    """

    res_frame = x_y_ops.transform(pd.DataFrame({'x': x, 'y': y, 'vname': 'v', 'rep': 0}))
    return res_frame['xicor'].values[0]

In [4]:
x1 = xicor([1, 2, 3], [1, 2, 3])  # expect 0.25
assert x1 == 0.25
x1

0.25

In [5]:
x2 = xicor([1, 2, 3], [3, 2, 1])  # expect 0.25
assert x2 == 0.25
x2

0.25

In [6]:
x3 = xicor([1, 2, 3], [1, 3, 2])  # expect -0.125
assert x3 == -0.125
x3

-0.125

In [7]:
with open("examples.yaml", "r") as in_f:
   examples = yaml.safe_load(in_f)

In [8]:
def example_to_frame(ei):
    "encode an example into a data frame"
    example = examples[ei]
    a = example['a']
    b = example['b']
    n_answers = len(example['xicor'])
    frames = [pd.DataFrame({'x': a, 'y': b, 'vname': f'v_{ei}', 'rep': j})
                           for j in range(n_answers)]
    return pandas.concat(frames).reset_index(drop=True, inplace=False)

example_frames = [example_to_frame(i) for i in range(len(examples))]
example_frames = pd.concat(example_frames).reset_index(drop=True, inplace=False)

example_frames

              x          y vname  rep
0      0.561595   0.084883   v_0    0
1      0.035700   0.635105   v_0    0
2      0.748017   0.133560   v_0    0
3      0.663603   0.577371   v_0    0
4      0.074035   0.214352   v_0    0
...         ...        ...   ...  ...
99995  0.360310   5.000000  v_49   99
99996  0.413419   2.000000  v_49   99
99997  0.224839   4.000000  v_49   99
99998  0.910356  10.000000  v_49   99
99999  0.845627   1.000000  v_49   99

[100000 rows x 4 columns]

In [9]:
grouped_calc = (
    x_y_ops
        .project({
            'xicor_mean': 'xicor.mean()',
            'xicor_std': 'xicor.std()',
            },
            group_by=['vname'])
        .order_rows(['vname'])
)
xicor_results = grouped_calc.transform(example_frames)

xicor_results

   vname  xicor_mean  xicor_std
0    v_0   -0.067669   0.000000
1    v_1   -0.007519   0.000000
2   v_10   -0.035317   0.117819
3   v_11   -0.032556   0.086014
4   v_12   -0.123548   0.121688
5   v_13    0.069973   0.000000
6   v_14   -0.040602   0.075355
7   v_15    0.201477   0.087224
8   v_16   -0.023048   0.095868
9   v_17   -0.052557   0.098633
10  v_18   -0.147787   0.000000
11  v_19   -0.112782   0.000000
12   v_2    0.000000   0.000000
13  v_20    0.004962   0.079767
14  v_21   -0.163684   0.078632
15  v_22   -0.060723   0.000000
16  v_23    0.069774   0.076543
17  v_24   -0.073661   0.087319
18  v_25   -0.022556   0.000000
19  v_26    0.397866   0.000000
20  v_27   -0.022998   0.000000
21  v_28   -0.067669   0.000000
22  v_29   -0.045113   0.000000
23   v_3   -0.187970   0.000000
24  v_30   -0.086310   0.000000
25  v_31    0.120301   0.000000
26  v_32    0.023467   0.000000
27  v_33    0.051013   0.102747
28  v_34   -0.017744   0.078571
29  v_35    0.037744   0.109287
30  v_36   -0.150376   0.000000
31  v_37   -0.082707   0.000000
32  v_38    0.001224   0.098514
33  v_39    0.001890   0.090971
34   v_4    0.135514   0.000000
35  v_40   -0.053945   0.109362
36  v_41    0.048070   0.118445
37  v_42   -0.069774   0.108596
38  v_43    0.003831   0.000000
39  v_44   -0.090226   0.000000
40  v_45    0.041278   0.079496
41  v_46    0.045338   0.077642
42  v_47    0.219925   0.051467
43  v_48   -0.044886   0.000000
44  v_49   -0.076095   0.000000
45   v_5   -0.002406   0.071728
46   v_6   -0.068447   0.000000
47   v_7   -0.127190   0.000000
48   v_8    0.037896   0.081062
49   v_9   -0.120301   0.000000

In [10]:
for ei in range(len(examples)):
    example = examples[ei]
    a = example['a']
    b = example['b']
    ref_xicor = example['xicor']
    our_result = xicor_results.loc[xicor_results['vname'] == f'v_{ei}', :]
    our_xicor_mean = our_result['xicor_mean'].values[0]
    our_xicor_std = our_result['xicor_std'].values[0]
    assert np.abs(np.mean(ref_xicor) - our_xicor_mean) < 0.05
    assert np.abs(np.std(ref_xicor) - our_xicor_std) < 0.05
    print(f'ref: {np.mean(ref_xicor)} {np.std(ref_xicor)}, ours: {our_xicor_mean} {our_xicor_std}')

ref: -0.0676692 0.0, ours: -0.06766917293233088 0.0
ref: -0.007518800000000003 3.469446951953614e-18, ours: -0.007518796992481258 0.0
ref: 2.2204459999999992e-16 7.395570986446986e-32, ours: 0.0 0.0
ref: -0.18796989999999994 5.551115123125783e-17, ours: -0.18796992481203012 0.0
ref: 0.135514 0.0, ours: 0.13551401869158874 0.0
ref: 0.003533834180000004 0.06878326849618019, ours: -0.002406015037593997 0.07172777727549859
ref: -0.06844740000000002 1.3877787807814457e-17, ours: -0.06844741235392315 0.0
ref: -0.12718959999999996 5.551115123125783e-17, ours: -0.12718964204112715 0.0
ref: 0.04385151299999999 0.08295654197477093, ours: 0.03789636504253673 0.08106221700616294
ref: -0.12030080000000005 5.551115123125783e-17, ours: -0.12030075187969924 0.0
ref: -0.042562927 0.11081480834838983, ours: -0.03531655225019069 0.11781945013820248
ref: -0.01849624 0.07992888705673187, ours: -0.03255639097744363 0.08601378816978562
ref: -0.12621664900000001 0.11045203602378319, ours: -0.12354788069073783 0.12168780807784174
ref: 0.0699734 0.0, ours: 0.06997342781222315 0.0
ref: -0.038045115 0.07459783493448637, ours: -0.040601503759398486 0.07535486906452589
ref: 0.195568684 0.08753438126409499, ours: 0.2014771048744461 0.08722438861716231
ref: -0.00044609599999999707 0.1007116363467558, ours: -0.023048327137546464 0.09586830166836521
ref: -0.057968877 0.10542007147626951, ours: -0.052557449962935515 0.09863342690932986
ref: -0.14778690000000003 2.7755575615628914e-17, ours: -0.14778694673668413 0.0
ref: -0.11278199999999992 6.938893903907228e-17, ours: -0.112781954887218 0.0
ref: 0.017142856999999997 0.07826834003527257, ours: 0.004962406015037585 0.07976656930799889
ref: -0.1597744364 0.08836665551085406, ours: -0.16368421052631582 0.07863195426831432
ref: -0.06072249999999999 6.938893903907228e-18, ours: -0.06072252113758658 0.0
ref: 0.0625563912 0.08687305410591217, ours: 0.06977443609022554 0.07654341393373215
ref: -0.085565466 0.09320217536198308, ours: -0.07366071428571427 0.0873193924106835
ref: -0.0225564 0.0, ours: -0.022556390977443552 0.0
ref: 0.39786590000000005 5.551115123125783e-17, ours: 0.39786585365853655 0.0
ref: -0.022997600000000003 3.469446951953614e-18, ours: -0.022997620935765184 0.0
ref: -0.0676692 0.0, ours: -0.06766917293233088 0.0
ref: -0.0451128 0.0, ours: -0.04511278195488733 0.0
ref: -0.08630950000000004 4.163336342344337e-17, ours: -0.08630952380952372 0.0
ref: 0.12030080000000005 5.551115123125783e-17, ours: 0.12030075187969924 0.0
ref: 0.023467099999999998 3.469446951953614e-18, ours: 0.02346707040121121 0.0
ref: 0.076519122 0.11352149575468566, ours: 0.051012753188297094 0.10274717697743116
ref: -0.009849621919999989 0.0793914826594726, ours: -0.01774436090225564 0.07857140131755626
ref: 0.02601503660000001 0.09562431926454337, ours: 0.037744360902255615 0.10928729154887148
ref: -0.1503759 0.0, ours: -0.15037593984962405 0.0
ref: -0.08270679999999998 1.3877787807814457e-17, ours: -0.08270676691729317 0.0
ref: -0.005661819999999999 0.10453398156933562, ours: 0.001224177505738333 0.09851416554147199
ref: 0.033575586000000004 0.08538535787547069, ours: 0.0018895348837209313 0.09097122149969442
ref: -0.061987861 0.11166651115096493, ours: -0.05394537177541729 0.1093616439892632
ref: 0.059273279 0.11467449857053598, ours: 0.048069644208932644 0.1184450121074264
ref: -0.04390977482 0.09428655419525532, ours: -0.0697744360902256 0.10859591833428599
ref: 0.0038313999999999987 1.3010426069826053e-18, ours: 0.003831417624521105 0.0
ref: -0.0902256 0.0, ours: -0.09022556390977442 0.0
ref: 0.030526316 0.08357589038605419, ours: 0.0412781954887218 0.07949604460542434
ref: 0.039172937 0.08762733960876669, ours: 0.04533834586466166 0.077642439315873
ref: 0.21563909099999998 0.05927827445030953, ours: 0.21992481203007522 0.05146728339326301
ref: -0.04488589999999998 2.0816681711721685e-17, ours: -0.04488594554819714 0.0
ref: -0.0760953 0.0, ours: -0.07609531129900082 0.0

In [11]:
print('done')

done