In [1]:
import os

import pandas

from google.cloud import bigquery

# connect to Google cloud
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/johnmount/big_query/big_query_jm.json"
client = bigquery.Client()

In [2]:
from data_algebra.data_ops import *
import data_algebra.BigQuery
import datetime
import numpy

db_handle = data_algebra.BigQuery.BigQueryModel().db_handle(client)

In [3]:
# define table locations
data_catalog = 'data-algebra-test'
data_schema = 'test_1'

In [4]:
d2 = pandas.DataFrame({
    'x': [1, 2],
    'y': ['a', 'b'],
})
db_handle.insert_table(
    d2,
    table_name=f'{data_catalog}.{data_schema}.d2')

TableDescription(
 table_name='data-algebra-test.test_1.d2',
 column_names=[
   'x', 'y'])

In [5]:
descr = db_handle.describe_bq_table(
    table_catalog=data_catalog,
    table_schema=data_schema,
    table_name='d2')
descr

TableDescription(
 table_name='data-algebra-test.test_1.d2',
 column_names=[
   'x', 'y'],
 qualifiers={'table_catalog': 'data-algebra-test', 'table_schema': 'test_1', 'table_name': 'd2', 'full_name': 'data-algebra-test.test_1.d2'})

In [6]:
descr.head

   x  y
0  1  a
1  2  b

In [7]:
descr.sql_meta

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position
0,data-algebra-test,test_1,d2,x,1,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
1,data-algebra-test,test_1,d2,y,2,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN

In [8]:
client.close()