The data_algebra uses Python's parser, which short-circuits what it sees as logical operators. Because of
this it is always wrong it use "and" or "or" in a data_algebra pipleline.

Notice the second term is lost in the following expression.

In [1]:

import pandas

from data_algebra.data_ops import *

# some example data
d = pandas.DataFrame({
    'ID': [1, 1, 2, 3, 4, 4, 4, 4, 5, 5, 6],
    'OP': ['A', 'B', 'A', 'D', 'C', 'A', 'D', 'B', 'A', 'B', 'B'],
})

# this get shortned to (ID == 3) as
# or short-circuit keeps the first argument as it is "truthy"
# can't override: https://stackoverflow.com/questions/471546/any-way-to-override-the-and-operator-in-python
# and using falseness would just move the problem to and

ops = describe_table(d, table_name='d'). \
    select_rows('(ID == 3) | (ID == 4)')

print(ops)

TableDescription(
 table_name='d',
 column_names=[
   'ID', 'OP']) .\
   select_rows('(ID == 3) | (ID == 4)')

The supported way to combine logical operations
in the data algebra is with the `|` for vectorized logical
or or `&` for vectorized logical and as follows.

In [2]:
ops = describe_table(d, table_name='d'). \
    select_rows('(ID == 3) | (ID == 4)')

ops

TableDescription(
 table_name='d',
 column_names=[
   'ID', 'OP']) .\
   select_rows('(ID == 3) | (ID == 4)')

In [3]:
ops.transform(d)

   ID OP
0   3  D
1   4  C
2   4  A
3   4  D
4   4  B

"not" has to be specified with `x == False`.

TODO: show "is in" and also SQL paths.